@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Iter; system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 32px;
}

main {
    margin-bottom: 96px;
}

/*

Navbar 

*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease-in-out;
}

.btn__menu---svg: :hover {

    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb (229, 231, 235); 
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translate(300%);
    transition: all 300ms ease;
    }
    
    .modal__links {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .modal__link--primary {
      color: #f7fafc;
      padding: 12px 32px;
      background-color: #6415ff;
      border-radius: 500px;
      border: none;
    }

    .menu--open .modal {
      visibility: visible;
      opacity: 1;
      transform: translate(0);
    }

    .btn__menu--close {
      position: fixed;
      top: 24px;

      right: 18px;
    }

    /*

    HEADER/ABOUT US

    */

    header .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    /*

    FEATURES

    */


    #features {
      position: relative;
    }

    #features .row__narrow {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    /*

    QUALITY WORK

    */

    #quality .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /*

    STEPS

    */

    #steps .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /*

    VALUES

    */ 

    #values .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /*

    PRICING

    */

    #pricing .row {
      display: flex;
      flex-direction: column;
      align-items: center;
}

/*

TESTIMONIALS

*/

#testimonials .row {
    display: flex;
}

/*

START/CALL TO ACTION

*/


#start .row {
    position: relative;
    overflow: hidden;
}


/*

FOOTER

*/
footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);

    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/*

MOBILE RESPONSIVENESS

*/

@media (max-width: 1024px) {
    
    .btn__menu {
        display: block;
    }

    header .row {
        flex-direction: column;
        text-align: center;
    }
    footer {
      padding: 80px 32px;
    }
}

@media (max-width: 768px) {
#quality .row,
#values .row {
    flex-direction: column-reverse;
}
#steps .row {
    flex-direction: column;
    align-items: center;
}
#pricing .row {
    margin-top: 40px;
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}