.container {
  
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-right: 15px;
  padding-left: 15px;
}

.nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.main {
  width: 100%;
  max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .container {
    padding: 80px 0;
  }

  .services {
    display: flex;
    flex-wrap: wrap;
  }

    .service {
      display: flex;
      width: calc(100% / 3);
    }

    .services {
      display: flex;
      flex-wrap: wrap;
    }

    .service {
      display: flex;
      width: calc(100% / 3);
    }

    .service-description {
      display: flex;
      flex-direction: column;
    }

  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .feature {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .plans {
    display: flex;
    flex-wrap: wrap;
  }

  .plan {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
  }

  .plan-features {
    display: flex;
    flex-direction: column;
  }
  .row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

.links {
  display: flex;
  flex-wrap: wrap;
}

.links {
  display: flex;
  flex-direction: column;
  width: calc(100% / 15);
  align-items: center;
}

.footer .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}